<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}" />
    <title>File Upload</title>
</head>

<style>
    .instructions {
        white-space: pre-wrap; /* Preserves line breaks and spaces */
        word-break: break-all; /* Allows long words to break and wrap */
        overflow-wrap: break-word; /* Breaks words if they exceed the container width */
    }
</style>

<nav>
    <ul class="navbar">
        <li class="navlogo"><h1 class="gradient-text-animation"> FIVE GUYS </h1></li>
        <li class="navbarli" onclick="window.location.href = '/logout';" ><h4 class="gradient-text-animation"> Logout </h4></li >
        <li class="navbarli" onclick="window.location.href = '/';"><h4 class="gradient-text-animation"> Dashboard </h4></li>
        <li class="navbarli" onclick="window.location.href = '/invoice/GUI';"><h4 class="gradient-text-animation"> Upload GUI </h4></li>
        <li class="navbarli" onclick="window.location.href = '/invoice/CSV';"><h4 class="gradient-text-animation"> Upload CSV </h4></li>
        <li class="navbarli" onclick="window.location.href = '/invoice/JSON';"><h4 class="gradient-text-animation"> Upload JSON </h4></li>
        <li class="navbarli" onclick="window.location.href = '/invoice';"><h4 class="gradient-text-animation"> Update </h4></li>
    </ul>
</nav>

<body>

    <div class="container max-w-7xl pt-5 pb-12 mb-12">
        <div class="gradient-line">
        </div>

        <div class="row">
            <div class="col">
                    <defs>
                        <linearGradient id="seven-gradient" gradientUnits="userSpaceOnUse" x1="23.5345" y1="27.9014" x2="121.9345" y2="27.9014" gradientTransform="matrix(1 0 0 -1 0 55.8028)">
                            <stop offset="0" style="stop-color: #f0ebab" />
                            <stop offset="0.4" style="stop-color: #f3b4ce" />
                            <stop offset="1" style="stop-color: #96cfca" />
                        </linearGradient>
                        <clipPath id="clip-seven">
                            <path d="M102.2345,2.9014v9.8h9.6v23.6l-65.3-33.3l-0.3-0.1h-22.7l32.4,16.3l66,33.7v-50H102.2345z" />
                        </clipPath>
                        <clipPath id="clip-u">
                            <path d="M52.3345,38.5014c0,2.2091-1.7909,4-4,4h-31.6c-2.2091,0-4-1.7909-4-4v-35.6h-9.8v35.6c0,7.7,6.2,13.9,13.8,13.9h31.6c7.6,0,13.8-6.2,13.8-13.9v-8.1l-9.8-5V38.5014z" />
                        </clipPath>
                    </defs>

                    <g fill="rgba(255,255,255,0.08)">
                        <path d="M102.2345,2.9014v9.8h9.6v23.6l-65.3-33.3l-0.3-0.1h-22.7l32.4,16.3l66,33.7v-50H102.2345z" />
                        <path d="M52.3345,38.5014c0,2.2091-1.7909,4-4,4h-31.6c-2.2091,0-4-1.7909-4-4v-35.6h-9.8v35.6c0,7.7,6.2,13.9,13.8,13.9h31.6c7.6,0,13.8-6.2,13.8-13.9v-8.1l-9.8-5V38.5014z" />
                    </g>

                    <path clip-path="url(#clip-seven)" class="draw-path seven-path" stroke="url(#seven-gradient)" stroke-width="11" stroke-miterlimit="10" d="M102.0318,7.8102h14.9001v36.7666L25.5799-1.9312" pathLength="100" />
                    <path clip-path="url(#clip-u)" class="draw-path u-path" stroke="#fff" stroke-width="11" stroke-miterlimit="10" d="M7.8842,2.7939l0.0451,35.4694c0,5.0171,3.8335,9.0363,8.8506,9.0363h31.1442c5.0171,0,9.0843-4.0672,9.0843-9.0843V24.9046" pathLength="100" />
                    <path clip-path="url(#clip-seven)" class="draw-path seven-path" stroke="url(#seven-gradient)" stroke-width="11" stroke-miterlimit="10" d="M102.0318,7.8102h14.9001v36.7666L25.5799-1.9312" pathLength="100" />
                    <path clip-path="url(#clip-u)" class="draw-path u-path" stroke="#fff" stroke-width="11" stroke-miterlimit="10" d="M7.8842,2.7939l0.0451,35.4694c0,5.0171,3.8335,9.0363,8.8506,9.0363h31.1442c5.0171,0,9.0843-4.0672,9.0843-9.0843V24.9046" pathLength="100" />
                    <path clip-path="url(#clip-seven)" class="draw-path seven-path" stroke="url(#seven-gradient)" stroke-width="11" stroke-miterlimit="10" d="M102.0318,7.8102h14.9001v36.7666L25.5799-1.9312" pathLength="100" />
                    <path clip-path="url(#clip-u)" class="draw-path u-path" stroke="#fff" stroke-width="11" stroke-miterlimit="10" d="M7.8842,2.7939l0.0451,35.4694c0,5.0171,3.8335,9.0363,8.8506,9.0363h31.1442c5.0171,0,9.0843-4.0672,9.0843-9.0843V24.9046" pathLength="100" />
                </svg>
            </div>
        </div>
        
        <div class="row g-4 mt-3">
            <div class="col-lg-4">
                <div class="gradient-border-card">
                    
                    <h2 class="gradient-text-animation">Upload</h2>
                    <div class="mt-3">
                        <pre class="instructions">{{ format_instructions }}</pre>
                    </div>
                    
                </div>
            </div>
        </div>

        
        
        <span>
            <form method="POST" action = "{{ route }}" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                
                <input class="glowing-wrapper-button btn-13" id="file" name="file" type="file">
                <input class="glowing-wrapper-button btn-13" id="submit" name="submit" type="submit" value="    Upload    ">
                <input class="glowing-wrapper-button btn-13" id="submit" name="submit" type="submit" value="    Download Format   " onclick="get_format();">
            </form>
        </span>
        
        <script>
            // Get the width of the text inside instructions-box and set it as the width of instructions-box
            window.addEventListener('load', function() {
                var route = "{{ route }}";
                var instructionsBox = document.getElementById('instructions-box');
                var preElement = instructionsBox.querySelector('pre');
                var textWidth = preElement.offsetWidth + 20; // Add some padding
                instructionsBox.style.width = textWidth + 'px';
            });

            function get_format() {
                
                var format = "{{ format }}"
                if (format == "json") {
                    window.location.href = '/format/json'
                }

                if (format == "csv") {
                    window.location.href = '/format/csv'
                    
                }
            }
        </script>

        {% if invoiceID %}
            <p>Invoice ID: {{ invoiceID }}</p>
        {% endif %}
    </div>
</body>
</html>
